<% include ../partials/boilerplate %>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("p").click(function(){
        $(this).hide();
    });
});
CURRENTLY DISPLAYS AN OBJECT
FUTURE: WRITE SOME FUNCTION THAT HANDLES POST-LOGIN
</script> -->
<div class='hero-login'>
  <form method='POST' action='/auth/login'>
    <input name='username' type='text' placeholder='username' required />
    <input name='password' type='password' placeholder='password' required />
    <br>
    <br>
    <input type='submit' value='Enter' />
  </form>
</div>
<div id="ftr-container">
    <ul>
      <li><a class="linkfront" href="/shoes/">2017 © SNKR.</a></li>
      <li style="font-size: 12px; font-weight: 400;">SNKR is a footwear database tool that keeps track of your favorite footwear. </li>
    </ul>
</div>
<% include ../partials/end %>
