<% include ../partials/boilerplate %>
<!-- CURRENTLY DISPLAYS AN OBJECT
FUTURE: WRITE SOME FUNCTION THAT HANDLES POST-REGISTER -->
<div class='hero-register'>
  <form method='POST' action='/auth/register'>
    <input name='username' type='text' placeholder='username' required />
    <input name='email' type='email' placeholder='email' required />
    <input name='password' type='password' placeholder='password' required />
    <input name='firstname' type='text' placeholder='first name' required />
    <input name='lastname' type='text' placeholder='last name' required />
    <input type='submit' value='Join' />
  </form>
</div>
<div id="ftr-container">
    <ul>
      <li><a class="linkfront" href="/shoes/">2017 © SNKR.</a></li>
      <li style="font-size: 12px; font-weight: 400;">SNKR is a footwear database tool that keeps track of your favorite footwear. </li>
    </ul>
</div>
<% include ../partials/end %>
