<% include ./partials/boilerplate %>
<div class="error-message">
    <h2 style="margin-top: 20px; font-size: 180px; font-weight: bold;">404</h2>
    <h2 style="margin-top: 120px; font-size: 30px;">You're reaching too far...</h2>
    <br>
    <a style="font-weight: 400;" class="links" href="/shoes/">Revert</a> 
</div>
<% include ./partials/end %>
