<% include ./partials/boilerplate %>
<div id="ind-container">
    <ul>
      <li><a class="links big" href="/shoes/">Home</a></li>
      <li><a class="links big" href="/auth/login">Sign In</a></li>
      <li><a class="links big" href="/auth/register">Register</a></li>
    </ul>
</div>
<div class="hero">
    <h1></h1>
</div>
<% include ./partials/end %>

<div id="ftr-container">
    <ul>
      <li>2017 © SNKR Digital</li>
    </ul>
</div>