<% include ./partials/boilerplate %>
<a style="background-color: red; font-size: 100px; font-weight: 800; font-style: oblique; letter-spacing: 0px; padding-top: 30px;"class="links big" href="#">SNKR</a>
<div id="ind-container">
    <ul>
      <li><a style="font-size: 30px; font-weight: 700;" class="links big" href="/shoes/">HOME</a></li>
      <li><a style="font-size: 30px; font-weight: 700;" class="links big" href="/auth/login">SIGN IN</a></li>
      <li><a style="font-size: 30px; font-weight: 700;" class="links big" href="/auth/register">REGISTER</a></li>
    </ul>
</div>
<div class="hero">
    <h1></h1>
</div>
<% include ./partials/end %>

<div id="ftr-container">
    <ul>
      <li><a class="linkfront" href="/shoes/">2017 © SNKR.</a></li> 
      <li style="font-size: 12px; font-weight: 400;">SNKR is a footwear database tool that keeps track of your favorite footwear. </li>
    </ul>
</div>