<% include ../partials/boilerplate %>
<div class="hero">
<form method="POST" action="/shoes">
     <input name="model" type="text" placeholder="Model" />
     <input name="size" type="number" placeholder="Size" />
     <input name="description" type="text" placeholder="Description" />
     <input type="submit" value="Submit" />
</form>
</div>
<% include ../partials/end %>