<% include ../partials/boilerplate %>
<div class="hero">
<form method="POST" action="/shoes">
     <input name="model" type="text" placeholder="Model" />
     <input name="size" type="number" placeholder="Size" />
     <input name="description" type="text" placeholder="Description" />
     <input type="submit" value="Submit" />
</form>
</div>

<div id="ftr-container">
    <ul>
      <li><a class="linkfront" href="/shoes/">2017 © SNKR.</a></li>
      <li style="font-size: 12px; font-weight: 400;">SNKR is a footwear database tool that keeps track of your favorite footwear. </li>
    </ul>
</div>