<% include ../partials/boilerplate %>
<div class="hero">
<form method="POST" action="/shoes/<%= data.id %>?_method=PUT">
    <input name="model" type="text" value="<%= data.model %>" />
    <input name="size" type="number" value="<%= data.size %>" />
    <input name="description" type="text" value="<%= data.description %>" />
    <input type="submit" value="Edit" />
</form>
</div>

<div id="ftr-container">
    <ul>
      <li><a class="linkfront" href="/shoes/">2017 © SNKR.</a></li>
      <li style="font-size: 12px; font-weight: 400;">SNKR is a footwear database tool that keeps track of your favorite footwear. </li>
    </ul>
</div>
