/*J Silverstein's CSS code  */
input[type="submit"],
input[type="reset"],
input[type="button"],

button {
    background: none;
    border: 0;
    color: inherit;
    cursor: default;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button;
    cursor: pointer;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  font-size: 24px;
  font-family: Gotham, sans-serif;
  line-height: 2em;
  flex-direction: column;
  letter-spacing: 0px;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#nav-container {
  flex: 3;
  color: white;
  font-size: 2em;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px 10px 20px;
  box-sizing: border-box;
  background-color: black;
}

#ftr-container {
  flex: 3;
  color: white;
  font-size: 1em;
  font-weight: bold;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 0px 0px;
  padding: 50px 50px 50px 50px;
  box-sizing: border-box;
  background-color: black;
}

#ind-container {
  flex: 3;
  color: white;
  font-size: 2em;
  width: 100%;
  margin: 0 auto;
  display: inline;
  flex-wrap: wrap;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  background-color: black;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  max-width: 80vw;
  margin: auto;
}

nav ul li a {
  padding: 15px 30px;
  color: black;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-decoration: none;
  transition: 0.2s all;
  display: block;
}

nav ul li:hover a {
  color: white;
  background-color: blue;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 720px;
  background-image: url(/images/shoes-hero.png);
  background-size: cover;
  background-position: center center;
  background-color: gray;
  /* GRADIENT 
  background-color: background-image: -webkit-gradient(linear, left top, left bottom, from(start-color), to(end-color));
  background-image: -webkit-linear-gradient(top, start-color, end-color);
  background-image: -moz-linear-gradient(top, start-color, end-color);
  background-image: linear-gradient(to bottom, start-color, end-color);; */
  background-blend-mode: multiply;
  color: white;
}

.hero-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 700px;
  background-image: url(/images/shoes-hero.png);
  background-size: cover;
  background-position: center center;
  background-color: purple;
  background-blend-mode: multiply;
  font-size: 36px;
  color: white;
}

.hero-register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 700px;
  background-image: url(/images/shoes-hero.png);
  background-size: cover;
  background-position: center center;
  background-color: green;
  background-blend-mode: multiply;
  font-size: 36px;
  color: white;
}

.index .hero h1 {
  font-size: 6em;
  font-weight: 900;
}

.shoe-container {
  flex: 3;
  max-width: 200vw;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  box-sizing: border-box;
}

.show .shoe-container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.seeall {
  flex: 1;
  font-size: 2em;
  color: black;
  border-bottom: 3px solid #eee;
  font-weight: 700;
  text-decoration: none;
}

.seeall-two {
  flex: 1;
  font-size: 1.5em;
  color: red;
  margin-top: 10px;
  padding: 5px 0px 5px 0px;
  float: left;
  /* border-bottom: 3px solid #eee; */
  font-weight: 700;
  text-decoration: none;
}

.linkback {
  text-align: center;
  letter-spacing: -1px;
  padding: 10px 0px 20px 0px;
}

.shoe-container .shoe {
  display: flex;
  flex-direction: column;
  /* Playing with layout */
  /* flex-direction: row; */
  flex: 1 800px;
  padding: 0px;
  margin: 20px 0px 20px 0px;
  border: 0px solid #eee;
  box-sizing: border-box;
  justify-content: space-between;
}

.shoe-container .shoe h2 {
  color: red;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 600;
  /* font-style: thin; */
  line-height: 1em;
  letter-spacing: 10px;
  margin-bottom: 15px;
}

.shoe-size h2 {
  color: red;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 600;
  /* font-style: thin; */
  line-height: 1em;
  letter-spacing: 10px;
  margin-bottom: 15px;
}

.links {
  display: flex;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0px;
  /* font-size: 0.5em; */
  margin: 0px;
  color: white;
  text-decoration: none;
  background-color: black;
  /* border-bottom: 1px black; */
  justify-content: space-around;
  padding: 16px;
}

.linkfront {
  display: flex;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0px;
  /* font-size: 0.5em; */
  margin: 0px;
  color: white;
  text-decoration: none;
  /* border-bottom: 1px black; */
  padding: 0px;
}

.links a {
  color: white;
  text-decoration: none;
}

.links a:hover, .links input:hover {
  /*text-transform: uppercase;*/
  text-decoration: none;
  font-weight: 900;
}

.add form, .edit form {
  width: 50vw;
  padding: 50px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 0px solid #eee;
}

form input[type=text], form input[type=number] {
  border: 0;
  border-bottom: 3px solid #eee;
  font-size: 1.7em;
  margin: 20px 0;
  padding: 5px;
  display: block;
  width: 100%;
  transition: 0.3s;
}

form input[type=text]:focus, form input[type=number]:focus {
  border-bottom: 10px solid red;
  outline: 0;
}

.add form input[type=submit], .edit form input[type=submit]  {
  background-color: black;
  display: block;
  margin: auto;
  padding: 10px 30px;
  font-size: 1.5em;
  color: white;
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s;
}

.add form input[type=submit]:hover, .add form input[type=submit]:focus,
.edit form input[type=submit]:hover, .edit form input[type=submit]:focus {
  outline: 0;
  background-color: red;
}

/* .error-message {
  padding: 90px;
  font-size: 240px;
  font-family: Gotham, sans-serif;
  background-image: url(/images/airmag404.jpg);
} */

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 700px;
  background-image: url(/images/airmag404.jpg);
  background-size: cover;
  background-position: center center;
  background-color: blue;
  background-blend-mode: multiply;
  color: white;
}